body{
	width:100%;
	background:#000;
	color:#fff;
	font-family:"Roboto",sans-serif;
	font-weight:100;
	font-size: 384px;
}
#container{
	display: table; position: absolute; height: 100%; width: 100%
}
#middle{
	display: table-cell; vertical-align: middle
}
div#time{
	margin-left: auto; margin-right: auto; width:100%;
	text-align:center;
}
#video{
	position: absolute;
	top:100%;
	left:0;
}